@import url("https://fonts.googleapis.com/css2?family=Avenir&display=swap");
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";

@import "~swiper/css";
@import "~swiper/css/navigation";

@layer base {
    // main banner
    .main-banner {
        @apply w-full h-[780px] bg-center bg-no-repeat bg-cover relative z-10;
        &::before {
            content: "";
            @apply absolute top-0 w-full left-0 h-full z-0;
            background-color: rgba(0, 0, 0, 0.5);
        }
    }
    .main-logo {
        max-width: 75px;
    }
    /* panel title */
    h2.panel-title {
        @apply text-lg;
        @apply font-bold;
        @apply mb-4;
    }
    /* panel table */
    table.panel-table {
        @apply min-w-full;
    }
    table.panel-table thead {
        @apply bg-white border-b border-t border-t-2;
    }
    table.panel-table thead tr th {
        @apply text-sm font-medium text-gray-900 px-6 py-4 font-bold whitespace-nowrap;
    }
    table.panel-table tbody tr {
        @apply odd:bg-gray-100 even:bg-white border-b;
    }
    table.panel-table tbody tr td {
        @apply text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap;
    }
    // Button
    .btn-primary {
        @apply px-3 py-2 bg-blue-700 text-white;
    }
    .form-group {
        @apply mb-4;
        label {
            @apply pb-5 text-gray-500;
        }
        input,
        select {
            @apply mt-2 px-3 py-2;
        }
    }
    .btn-icon {
        @apply text-gray-600 text-base;
        width: 1rem;
        height: 1rem;
        font-size: 1rem;
        &.primary {
            @apply text-blue-600;
        }
        &.warn {
            @apply text-pink-600;
        }
    }
    .confirmation {
        position: fixed !important;
        left: 0 !important;
        width: 100%;
        top: 0;
        height: 100%;
    }
    .diagonal-separator {
        position: relative;
        &::before {
            content: "";
            position: absolute;
            top: -75px;
            z-index: 99;
            left: 0;
            width: 100%;
            height: 75px;
            clip-path: polygon(100% 0, 0% 100%, 100% 100%);
            background: #fff;
        }
    }
    .section {
        @apply max-w-7xl mx-auto py-16 px-4 sm:px-6 lg:px-8;
        .section-title {
            @apply text-3xl font-extrabold;
        }
    }
    article {
        p {
            @apply mb-4;
        }
    }
    .form-group {
        &.form-contact {
            input,
            textarea {
                border-top: none;
                border-right: none;
                border-left: none;
                resize: none;
                @apply px-0 border-b border-gray-300;
                &:focus {
                    box-shadow: none !important;
                }
            }
        }
    }
    .absolute-nav {
        a {
            &.nav-item {
                @apply inline-flex items-center px-1 pt-1 text-lg leading-5 text-white transition duration-150 ease-in-out;
            }
        }
    }
    .fixed-nav {
        a {
            &.nav-item {
                @apply inline-flex items-center px-1 pt-1 font-medium leading-5 text-gray-800 transition duration-150 ease-in-out font-semibold;
            }
        }
    }
    .diagonal-grey {
        @apply absolute top-[50%] bottom-0 left-0 right-0 bg-gray-100 z-0;
        clip-path: polygon(0 29%, 100% 7%, 100% 100%, 0% 100%);
    }
}

.absolute-nav {
    // @apply absolute;
    position: absolute;
    z-index: 99999 !important;
}
.fixed-nav {
    // @apply fixed;
    position: fixed;
    z-index: 99999 !important;
    background-color: #fff;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}

.slides {
    overflow: hidden;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    object-fit: cover;
}

.swiper-button-next:after,
.swiper-button-prev:after {
    color: #fff;
    font-size: 22px;
}
